@font-face {
    font-family: 'Kashima';
    src: url("../fonts/Kashima.otf") format("opentype");
}

#avatar {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
}

#background-circle {
    border-radius: 50%;
    background-color: #7f0000;
    opacity: 0.5;
    position: absolute;
    width: 12rem;
    height: 12rem;
}

.japanese {
    font-family: Kashima;
}

#name {
    font-size: 3rem;
    color: black;
}

.contacts li a.twitter:hover {
    color: #08A0E9;
}

.contacts li a.instagram:hover {
    color: #DD2A7B;
}

small {
    font-weight: bolder;
}